<html>
  <head>
    <title>Full view</title>
    <style>
      * {
        background-color: rgba(0, 0, 0, 0.336);
        margin: 0;
        padding: 0;
      }
      .imgbox {
        display: grid;
        height: 100%;
        
      }
      .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
      }
    </style>
  </head>
  <body>
    
    <div class="imgbox">
      <img class="center-fit" src="{{ photo_src }}" />
    </div>
  </body>
</html>
